<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      {{skill.id}} | <a href="{{ url_for('skill_one', id=skill.id) }}"><b>{{ skill.name }}: </b></a>
    </h5>
    <p class="card-text">
      {{ skill.explanation }}
    </p>
  </div>
  {% if current_user.is_active %}
    <div class="card-footer text=muted">
      <a href="{{ url_for('skill_update', id=skill.id) }}">Edit</a> | <a href="{{ url_for('skill_delete', id=skill.id) }}">Delete</a>
    </div>
  {% endif %}
</div>
