{% extends "base.html" %}

{% block content %}

{% if current_user.is_active %}
<h1>Hi, {{ current_user.username }}!</h1>
{% else %}
<h1>Hi Guest!</h1>
{% endif %}

<h2>Users:</h2>
{% for user in users %}
<div>
    <p>Does {{ user.username }} have admin privileges? <b>{{ user.admin }}</b></p>
</div>
{% endfor %}

<h2>Sessions:</h2>
{% for session in sessions %}

  {% include 'includes/session.html' %}

{% endfor %}

<h2>Skills:</h2>
{% for skill in skills %}
<div>
    <p><b>{{ skill.name }}:</b>
        <ul>
          <li>Explanation: {{ skill.explanation }}</li>
        </ul>
    </p>
</div>

{% endfor %}

{% endblock %}
