{% extends "base.html" %}

{% block content %}
    <h1>Session</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration(size=32) }}<br>
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.level.label }}<br>
            {{ form.level() }}<br>
            {% for error in form.level.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.explanation.label }}<br>
            {{ form.explanation(size=32) }}<br>
            {% for error in form.explanation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.timezone.label }}<br>
            {{ form.timezone() }}<br>
            {% for error in form.timezone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project.label }}<br>
            {{ form.project() }}<br>
            {% for error in form.project.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.created.label }}<br>
            {{ form.created(size=32) }}<br>
            {% for error in form.created.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.edited.label }}<br>
            {{ form.edited(size=32) }}<br>
            {% for error in form.edited.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.starttime.label }}<br>
            {{ form.starttime(size=32) }}<br>
            {% for error in form.starttime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.endtime.label }}<br>
            {{ form.endtime(size=32) }}<br>
            {% for error in form.endtime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Private {{ form.private() }}<br>
        </p>
        <p>
            {{ form.skills.label }}<br>
            {{ form.skills(size=32) }}<br>
            {% for error in form.skills.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
